<h1>Welcome to workagile.io!</h1>
<p>
  You have successfully created a job posting.
  As soon as the financials are done the posting will be online.<br>
</p>
<br>
<p>
  If you want to make changes please write a email to: new-job@workagile.io
</p><br>
<p>Thank you for joining. </p><br>
<p>Kind regards and have a great day!</p>
