<div class="main-background">
  <div class="header">
    <div class="header-container">
      <h2>Reach the agile Community</h2>
      <ul class='progress'>
        <li>Step 1</li>
        <li>Step 2</li>
        <!-- <li>Step 3</li> -->
      </ul>
      <div class="progress-bar">
        <div id="progress-bar-1"></div>
        <div id="progress-bar-2 hidden"></div>
        <div id="progress-bar-3 hidden"></div>
      </div>
      <ul class="progress posting-steps">
        <li>Post a job</li>
        <li>Your Company</li>
        <li>Preview</li>
      </ul>
    </div>
  </div>
  <div class="container content">
    <%= render 'form' %>
  </div>
</div>
