<div class="main-background">
  <div class="header">
    <div class="header-container">
      <h2>Reach the agile Community</h2>
      <ul class='progress'>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
      </ul>
      <div class="progress-bar">
        <div id="progress-bar-1 hidden"></div>
        <div id="progress-bar-2 hidden"></div>
        <div id="progress-bar-3"></div>
      </div>
      <ul class="progress posting-steps">
        <li>Post a job</li>
        <li>Preview your ad</li>
        <li>Purchase</li>
      </ul>
    </div>
  </div>
  <div class="container content-container">

  </div>
  <div class="container content-container">
    <%= render 'job-card' %>
  </div>
</div>
