<div class="main-background">
  <div class="header">
    <div class="header-container">
      <h2>Reach the agile Community</h2>
      <ul class='progress'>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
      </ul>
      <div class="progress-bar">
        <div id="progress-bar-1 hidden"></div>
        <div id="progress-bar-2 hidden"></div>
        <div id="progress-bar-3"></div>
      </div>
      <ul class="progress posting-steps">
        <li>Post a job</li>
        <li>Preview your ad</li>
        <li>Purchase</li>
      </ul>
    </div>
  </div>
  <div class="container content-container">
    <div class="content message">
      <h3>Thanks for job posting*. </h3>
      <p>
        So you reach the growing agile community on the web.
      </p>
      <p>
        *Will be post in the next hours after check
      </p>
    </div>
  </div>
  <div class="container content-container">
    <%= render 'job-posting' %>
  </div>
</div>
