<div class="footer">
  <div class="footer-copyright">Copyright © 2021</div>
  <div class="footer-links">
    <div>
      <%= link_to 'Imprint', imprint_path %>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
