<div class="navbar navbar-expand-sm">
  <div>
    <%= link_to "/", class: "navbar-brand" do %>
      <h3>Agile</h2>
    <% end %>
  </div>
  <div class="section">
    <nav class="flex-container">
      <ul class="navbar-list">
        <a href="#" class="navbar-btn flex-item">
          Categories
        </a>
        <a href="#" class="navbar-btn flex-item">
          Companies
        </a>

        <%= link_to 'post a job', new_company_path, id: "post-job-btn" %>
        </a>
      </ul>
  </div>
</div>

