<div class="navbar navbar-expand-sm">
  <%= link_to "#", class: "navbar-brand" do %>
      <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <h3>Agile</h2>
    <% end %>
  <div class="section">
    <nav class="flex-container">
      <ul class="navbar-list">
        <a href="#" class="navbar-btn flex-item">
          Categories
        </a>
        <a href="#" class="navbar-btn flex-item">
          Companies
        </a>
        <a href="#" class="navbar-btn flex-item" id="post-job-btn">
          Post a Job
        </a>
      </ul>
  </div>
</div>
