<div class="clear-background">
  <div class="container content-container">
    <div class="nav">
     <%= link_to "â† Back to all jobs", root_path %>
    </div>
    <%= render 'company-posting' %>
  </div>
</div>
