.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  min-width: 720px;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.navbar-brand img {
  width: 40px;
  h3 {
    margin: 0;
  }
}

.navbar .section {
  width: auto;
  border-bottom: none;
  align-items: center;
}

.section {
  display: flex;
}

.navbar .navbar-menu {
  margin: 0 auto;
}

.navbar-menu {
  text-align: right;
}

.navbar-list {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 0.9em;
  z-index: 1000;
  list-style: none;
}

.navbar-btn {
  font-size: 0.8em;
  margin: 20px 10px 20px 10px;
  transition: all 0.2s;
  color: black;
  font-weight: 600;
}


@media screen and (min-width: 1176px) {
  .navbar-menu {
    width: 100vh !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-list #post-job-btn {
      display: none;
    }
}


.nav {
  background-color: white;
  padding: 70px 0 0 5%;
  a {
    color: $brand-red!important;
    font-weight: 900;
  }
}
