.progress {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: white;
  margin: 2rem 2.3rem 0 0;
  overflow: visible;
  list-style: none;
  font-size: 1.25rem;
  color: $brand-red;
}

.progress-bar {
  background-color: #F4F4F4;
  height: 4px;
}

#progress-bar-1 {
  background-color: $brand-red;
  height: 4px;
  width: 33%;
}

#progress-bar-2 {
  background-color: $brand-red;
  height: 4px;
  width: 62%;
}

#progress-bar-3 {
  background-color: $brand-red;
  height: 4px;
  width: 100%;
}

.posting-steps {
  color: black;
}

@media screen and (max-width: 600px) {
  .posting-steps {
    display: none;
  }

}
